<% provide(:title, 'Edit "Quick add stock"') %>
<% provide(:button_text, 'Save changes') %>
<div class="pretty_form">
  <div class="pretty_form--sibling pretty_form--sibling_row">
    <h1>Edit your "Quick add stock"</h1>
  </div>
  <%= render 'form' %>
</div>
