<% provide(:title, 'Create new "Quick add stock"') %>
<% provide(:button_text, 'Create new "Quick add stock"') %>
<div class="pretty_form">
  <div class="pretty_form--sibling pretty_form--sibling_row">
    <h1>Create new "Quick add stock"</h1>
    <p>After you've added this "Quick add stock" template you'll be able to add this ingredient to your cupboard super quick in future, fun right?!</p>
  </div>
  <%= render 'form' %>
</div>
