<% provide(:title, 'About us') %>

<h1>About Us</h1>

<h2>Who are we?</h2>

<p>The team behind Stockcub.es is <a href="https://twitter.com/josh_harrington">Josh Harrington</a> and <a href="https://www.chantymarie.com">Chantelle Bradley</a>.</p>

<p>We're based in Essex in the UK.</p>

<h2>Why did we build Stockcub.es?</h2>

<p>We wanted a tool that could help us manage the food in our cupboards and help us reduce our food waste. We had a look round and couldn't find anything that matched that concept so we started building it.</p>

<h2>How much does it cost?</h2>

<p>Right now we've chosen to put out the service for free to see if other people find it useful. Eventually we imagine that we would ask for a small monthly subscription to keep our systems running.</p>

<h2>How do I get started?</h2>

<p>If you haven't already got an account, you can <a href="/signup">sign up</a>.</p>

<ol>
	<li><p>Once you're setup, you can head over to <a href="/recipes">Recipes</a> and start searching round for recipes you like the look of</p></li>
	<li><p>You can add recipes to your favourites or to your shopping list</p></li>
	<li><p>If you have some recipes in your shopping list you can see what ingredients you'd need for those recipes</p></li>
	<li><p>[NOT BUILT] You can then use this list as you're wandering round the shops if you want</p></li>
	<li><p>[NOT BUILT] You can choose to then move all those ingredients that you've just bought over into your cupboards</p></li>
	<li><p>Now you'll see those ingredients in your cupboards (you can always add or edit these cupboards)</p></li>
	<li><p>You'll get information about their use by dates which we've estimated and you can update if you like</p></li>
</ol>
