<% provide(:title, 'Dashboard') %>

<div class="main">
  <div class="container">
    <div class="list_block--collection--wrap">
			<div class="list_block--collection list_block--collection__tight">
			<% @recipes_order_by_least_wasteful.each do |recipe| %>
          <%
            user_recipe_stock_match = UserRecipeStockMatch.where(user_id: current_user[:id], recipe_id: recipe[:id]).first
            ingredient_stock_match_decimal = user_recipe_stock_match[:ingredient_stock_match_decimal]
            num_stock_ingredients = user_recipe_stock_match[:num_stock_ingredients]
            num_needed_ingredients = user_recipe_stock_match[:num_needed_ingredients]
            waste_saving_rating = user_recipe_stock_match[:waste_saving_rating]
          %>
          <%=
            render 'recipes/recipe_list_partial',
            recipe: recipe,
            ingredient_stock_match_decimal: ingredient_stock_match_decimal,
            num_stock_ingredients: num_stock_ingredients,
            num_needed_ingredients: num_needed_ingredients,
            waste_saving_rating: waste_saving_rating
          %>
        <% end %>
			</div>
		</div>
	</div>
</div>