<% provide(:title, 'Elements page') %>

<h1>Elements Page</h1>

<form action="#na">

	<input type="text" placeholder="Text placeholder">
	<input type="number" placeholder="Number placeholder">

</form>