<% provide(:title, 'Home') %>
  <section class="feature-banner--title">
    <div class="feature-banner--title-content">
      <h1>Stockcubes</h1>
      <p class="def-breakdown">/stɒk|kjuːb/</p>
      <p class="def-typ">noun</p>
      <ol>
        <li><p>a system to help you keep aware of the food you've got</p></li>
        <li><p>something to help you make efficient meal decisions and reduce your food waste</p></li>
      </ol>
      <script>console.log('<%= request.domain %>')</script>
    </div>
  </section>
  <article class="feature-banner--collection">
    <section class="feature-banner">
      <div class="feature-banner--img">
        <%= large_svg('stock_in_cube') %>
      </div>
      <div class="feature-banner--content">
        <p>See what's in your cupboards</p>
        <p>wherever you are</p>
      </div>
    </section>

    <section class="feature-banner">
      <div class="feature-banner--img">
        <%= large_svg('stock_addition') %>
      </div>
      <div class="feature-banner--content">
        <p>Get recipe suggestions</p>
        <p>based on your ingredients</p>
      </div>
    </section>

    <section class="feature-banner">
      <div class="feature-banner--img">
        <%= large_svg('recipes_to_list') %>
      </div>
      <div class="feature-banner--content">
        <p>Build shopping lists</p>
        <p>with your favourite recipes</p>
      </div>
    </section>
  </article>
