<% provide(:title, 'Home') %>
  <article class="feature-banner--collection">
    <section class="feature-banner--title">
      <h1>Stockcubes!</h1>
      <p>What's that then?</p>
    </section>
    <section class="feature-banner">
      <div class="feature-banner--img">
        <%= large_svg('stock_in_cube') %>
      </div>
      <div class="feature-banner--content">
        <p>See what's in your cupboards</p>
        <p>wherever you are</p>
      </div>
    </section>

    <section class="feature-banner">
      <div class="feature-banner--img">
        <%= large_svg('stock_addition') %>
      </div>
      <div class="feature-banner--content">
        <p>Get recipe suggestions</p>
        <p>based on your ingredients</p>
      </div>
    </section>

    <section class="feature-banner">
      <div class="feature-banner--img">
        <%= large_svg('recipes_to_list') %>
      </div>
      <div class="feature-banner--content">
        <p>Build shopping lists</p>
        <p>with your favourite recipes</p>
      </div>
    </section>
  </article>
