<% provide(:title, 'Home') %>

<style>
  .banner_bar {
    background-color: #ddf4f2;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .banner_bar-text {
    margin-bottom: 3rem;
  }
  .banner_bar h1 {
    font-size: 4rem;
  }
  .banner_bar h2 {
    font-size: 2.3rem;
  }
  .bottom_banner_bar {
    background-color: #ddf4f2;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  }
  .bottom_banner_bar p {
    font-size: 2.6rem;
  }
  .bottom_banner_bar p + p {
    margin-top: 1rem;
  }
  .wrapper {
    max-width: 90rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .call_out_bar {
    background-color: #a2d7d2;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .call_out_bar h3 {
    font-size: 2.6rem;
  }
  @media all and (max-width:40rem) {
    .call_out_bar br {
      display:none;
    }
  }

  .q-a-block {
    margin-bottom: 9rem;
  }
  .question {
    font-size: 1.5rem;
    margin-top: 8rem;
  }
  .answer {
    font-size: 1.3rem;
    margin-top: .5rem;
  }
  .answer p {
    line-height: 1.4;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .perspective {
    perspective: 1500px;
    height: 14rem;
    width: 28rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: -2rem;
    margin-top: -5rem;
    margin-bottom: 7rem;
  }

  .cube {
    font-size: 4em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(-8deg) rotateY(40deg);}
    .cube:hover .banana,
    .cube:focus .banana {
      transform: rotate(-15deg);
    }
    .cube:hover .front,
    .cube:focus .front {
      transform: translateZ(1em) translateX(1.2em);
    }

  .side {
    position: absolute;
    width: 2em;
    height: 2em;
    color: white;
    text-align: center;
    line-height: 2em;
  }

  .front  {
    transform: translateZ(1em) translateX(.4em);
    transition: transform .3s;
    background-color: #AAE2DE;
  }
  .top {
    transform: rotateX( 90deg)  translateZ(1em);
    background-color: #C3EBE9;
  }
  .right {
    transform: rotateY( 90deg) translateZ(1em);
    background-color: #4CB0A8;
  }
  .left {
    transform: rotateY(-90deg) translateZ(1em);
    background-color: #98DCD8;
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(1em);
    background-color: #60BDB7;}
    .bottom:before {
      content: "";
      width: .5em;
      height: .4em;
      transform: translateY(.75em) translateX(.3em);
      background-color: rgba(0,0,0,0.15);
      position: absolute;
      border-radius: 50%;
      animation: .8s infinite shrink-shadow;
    }
  .shadow {
    transform: rotateX(-90deg) translateZ(1em) translateX(-2em);
    background-color: #42948E;
  }
  .back {
    transform: rotateY(-180deg) translateZ(1em);
    background-color: #41A39B;
  }

  .banana {
    position: absolute;
    transition: transform .2s .2s;
    transform: rotate(-20deg);
    width: .9em;
    height: 1.3em;
    margin-left: 1.5em;
    margin-top: .6em;
    background-color:transparent;
    border-radius: 50%;
    box-shadow: -.2em 1px 0 -.05em rgba(0,0,0,0.1), -.4em 0 0 #ffd700;
    animation: .8s infinite wiggle;}
    .banana:before {
      content: "";
      position: absolute;
      width: .1em;
      height: .2em;
      left: .2em;
      top: -.1em;
      background-color: #daa520;
      border-radius: .01em .01em .2em .1em;
      transform: rotate(66deg);
    }

  @keyframes wiggle {
    0% {
      margin-top:.6em;
    }
    50% {
      margin-top: .5em;
    }
    100% {
      margin-top:.6em;
    }
  }

  @keyframes shrink-shadow {
    0% {
      width: .5em;
      height: .4em;
    }
    50% {
      width: .4em;
      height: .3em;
    }
    100% {
      width: .5em;
      height: .4em;
    }
  }

</style>

<section class="banner_bar">
  <div class="wrapper flex">
    <div class="banner_bar-text">
      <h1>Stockcubes</h1>
      <h2>Fighting food waste at home</h2>
    </div>

    <!-- Attributions:

    Banana from Lynn Fisher's brilliant https://a.singlediv.com/

    Perspective cube by Hugo Giraudel. As featured on css-tricks.com
    https://css-tricks.com/almanac/properties/p/perspective/
    -->
    <div class="perspective">
      <div class="cube">
        <div class="side  front"></div>
        <div class="side   back"></div>
        <div class="side  right"></div>
        <div class="side   left"></div>
        <div class="side    top"></div>
        <div class="side bottom"></div>
        <div class="side shadow"></div>
        <div class="banana"></div>
      </div>
    </div>
  </div>
</section>

<section class="call_out_bar">
  <div class="wrapper">
    <h3>We're here to make it ridiculously simple to <br /><strong>plan your meals</strong> and <strong>cut your food waste</strong></h3>
  </div>
</section>


<section class="wrapper q-a-block">

  <div class="question">
    <p><strong>Why should you care about food waste?</strong></p>
  </div>

  <div class="answer">
    <p>Well, it’s a big deal. No, really it’s massive, if you plot the emissions of food waste as it degrades, against the emissions of all the countries in the world - the only countries that produce more greenhouse gases are the US and China.</p>
  </div>

  <div class="question">
    <p><strong>But, maybe this isn’t really your problem?</strong></p>
  </div>

  <div class="answer">
    <p>Turns out that households in the UK produce 70% of the total food waste created by the country, whereas retailers produce 2%!</p>
  </div>

  <div class="question">
    <p><strong>Right, fine, but surely it’s really difficult to solve?</strong></p>
  </div>

  <div class="answer">
    <p>It can be difficult, if you’re keeping track of all your food on paper and planning your meals by scouring cookbooks, but that’s where we come in. We’ve got delicious, simple recipes, a planner that builds you a shopping list and a recommendation engine that nudges you to use up the food you’ve already got.</p>
  </div>


  <div class="question">
    <p><strong>Alright, but let’s say that we might not all actually care that much about the impact of food waste on the environment…</strong></p>
  </div>

  <div class="answer">
    <p>We get it, we’re not here to guilt-trip you. We want to empower people to stop wasting food, plus there’s another benefit we haven’t mentioned yet. The dosh. The cashola. The money that you save by using your food more efficiently. In the UK, the average household could save £800 in a year by cutting their food waste.</p>
  </div>

</section>

<section class="bottom_banner_bar">
  <p><strong>Where do you sign up?</strong><p>
  <p>Right here: <%= link_to "Sign up", new_user_registration_path %>
</section>
