<% if @out_of_date_exist == true %>
		<% if params[:show_all] == 'true' %>
			<%= link_to cupboards_path, class: "switch--wrap", title: "Only show in date ingredients" do %>
				<span>Only show in date ingredients</span>
				<span class="switch status_on"></span>
			<% end %>
		<% else %>
			<%= link_to cupboards_path(:show_all => 'true'), class: "switch--wrap", title: "Show all ingredients in cupboards" do %>
				<span>Show all ingredients in cupboards</span>
				<span class="switch status_off"></span>
			<% end %>
		<% end %>
	<% end %>