<div class="pretty_form">
	<div class="pretty_form--sibling pretty_form--sibling_row">
		<h1>Sharing your cupboards</h1>
	</div>
	<form action="#na">
		<input type="checkbox" id="1">
		<label for="1"></label>
		<input type="checkbox" id="2">
		<label for="2"></label>
		<input type="checkbox" id="3">
		<label for="3"></label>
		<input type="checkbox" id="4">
		<label for="4"></label>
		<input type="checkbox" id="5">
		<label for="5"></label>
	</form>
</div>
