<div class="pretty_form">
	<h1>Sharing <%= @cupboard_name %></h1>
	<% if @cupboard.users.length < 2 %>
	Share it with whoever you want
	<textarea name="emails_to_share_cupboard" id="emails_to_share_cupboard" cols="30" rows="10" placeholder="sparkle@fairydust.com"></textarea>
	<% else %>
	Currently shared with
	<% @cupboard.users.each do |cupboard_user| %>
		<% unless cupboard_user == current_user %>
		<ul>
			<li><%= cupboard_user.name %></li>
		</ul>
		<% end %>
	<% end %>
	<br />
	Share it with whoever you want
	<textarea name="emails_to_share_cupboard" id="emails_to_share_cupboard" cols="30" rows="10" placeholder="sparkle@fairydust.com"></textarea>
	<% end %>
</div>
