<div style="height: 1rem;
						background-color: white;
						box-shadow: inset 0px 0px 11px -8px rgba(0,0,0,1);
						width: 100%;
						border-radius: 0.5rem;
						overflow: hidden;">
	<div style="width: <%= sustainability_percentage() %>%;
							height: 100%;
							background-color: #5cd611;
							border-radius: 0.5rem;"></div>
</div>