<% provide(:title, "Forgotten password") %>
<div class="pretty_form">
  <div class="pretty_form--sibling">
    <h1>Forgotten password</h1>
  </div>
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="pretty_form--row">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', value: (params.has_key?(:email) && params[:email].to_s != '' ? params[:email] : '') %>
    </div>

    <div class="pretty_form--sibling">
      <%= f.button "Submit", class: "pretty_form--submit_button" %>
    </div>
  <% end %>
</div>