<% provide(:title, "Forgot password") %>
<div class="pretty_form">
  <div class="pretty_form--sibling">
    <h1>Forgot password</h1>
  </div>
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="pretty_form--row">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="pretty_form--actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>