<p>There was a reported false sign in for the email address:</p>

<ul>
	<li><%= @user.email %></li>
</ul>

<p>Code was <%= @code_included ? 'included' : 'not included, which could mean a dodgy log out process or bug' %></p>