<li class="control-group nested-fields">
  <div class="controls">
    <br />
    <br />
    <p>Amount:</p>
    <%= number_field_tag :amount, "", placeholder: "How much of the ingredient does the recipe need?" %>

    <p>Units</p>
    <%= select_tag :unit_select, options_from_collection_for_select(Unit.all, "unit_number", "name", 8) %>
    <p>Ingredient</p>
    <%= select_tag :ingredient_select, options_from_collection_for_select(Ingredient.all, "id", "name"), prompt: "Pick your ingredient", required: true %>

  </div>
</li>