<% provide(:title, 'Your favourited recipes') %>
<div class="main">
  <div class="list_block--collection--wrap">
    <div class="list_block--collection--sibling">
      <h2>Your favourite recipes</h2>
      <%= link_to "Back to all recipes", recipes_path, class: "list_block--item--action" %>
    </div>
    <%= will_paginate(@fav_recipes) %>
    <div class="list_block--collection list_block--collection__tight">
      <% @fav_recipes.each do |recipe| %>
        <%
          user_recipe_stock_matches = UserRecipeStockMatch.where(user_id: current_user[:id], recipe_id: recipe[:id])
          next if user_recipe_stock_matches.length == 0
          user_recipe_stock_match = user_recipe_stock_matches.first
          ingredient_stock_match_decimal = user_recipe_stock_match[:ingredient_stock_match_decimal]
          num_stock_ingredients = user_recipe_stock_match[:num_stock_ingredients]
          num_needed_ingredients = user_recipe_stock_match[:num_needed_ingredients]
        %>
        <%= render 'recipe_list_partial', recipe: recipe, ingredient_stock_match_decimal: ingredient_stock_match_decimal, num_stock_ingredients: num_stock_ingredients, num_needed_ingredients: num_needed_ingredients  %>
      <% end %>
    </div>
  </div>
</div>