<div class="main">
  <div class="container">
  <h2>All Recipes</h2>
    <% @recipes.each do |recipe| %>
    <div class="recipe">
      <h3><%= recipe.title %></h3>
      <%= link_to "Learn more", recipe_path(recipe) %>
    </div>
    <% end %>
  </div>
</div>