<% provide(:title, 'Your Recipes') %>
<div class="main">
  <div class="container">
    <h2>Your Recipes</h2>
    <% @recipes.each do |recipe| %>

      <%= render 'recipe_list_partial', recipe: recipe %>

      <br/>
      <br/>
    <% end %>

    <% if @recipes.length < 3 %>
      <br>
      <br>
      <hr>
      <p>Here are some more random recipes you might like :)</p>
      <br>
      <br>

      <% @fallback_recipes.each do |recipe| %>
        <%= render 'recipe_list_partial', recipe: recipe %>
      <br/>
      <br/>
      <% end %>      
    <% end %>

    <%= link_to "Search for more recipes", search_recipe_path %>
  </div>
</div>