<% provide(:title, "Stock picks for your cupboard") %>

<div class="item_form--wrapper">
	<%= link_to 'Tomatoes', stocks_new_path(ingredient: @tomatoe_id, stock_amount: 4, unit: @each_unit_id)%>
</div>
