<% provide(:title, 'Edit your profile') %>
<% provide(:button_text, 'Save changes') %>
<div class="pretty_form">
  <div class="pretty_form--sibling pretty_form--sibling_row">
    <h1>Edit your profile</h1>
  </div>
  <%= render 'form' %>
</div>
