<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<div class="pretty_form">
  <div class="pretty_form--sibling">
    <h1>Your profile</h1>
    <p>(<%= link_to "sign out", logout_path, method: :delete %>)</p>
  </div>
  <%= render 'form' %>
</div>
