<% provide(:title, 'All users') %>
<h1>All users</h1>

    <h2>User's Recipes</h2>
    <% @users.each do |user| %>

    <% end %>
    
<%= will_paginate %>

<ul class="users">
  <%-#= render @users -%>
</ul>

<%= will_paginate %>

