<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="pretty_form">
  <div class="pretty_form--sibling">
    <h1>Sign up</h1>
  </div>
  <%= render 'form' %>
</div>
