<% provide(:title, 'Profile') %>

<div class="pretty_form">
  <div class="pretty_form--title_block">
    <h1>Your profile</h1>
    <p>(<%= link_to "update profile", edit_user_path(@user) %>)</p>
  </div>
  <div class="fake_form">
    <p class="info">Name:</p>
    <p><%= @user.name %></p>
    <p class="info">Email:</p>
    <p><%= @user.email %></p>
  </div>
</div>
