@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
	font-family: 'Lato', sans-serif;
}

a, p, label, input, textarea, .alert, .debug_dump {
	font-size: 1.5em;
}

p>a, .alert>a, .debug_dump>a, h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
	font-size: 1em;
}

h1 {
	font-size: 1.9em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.3em;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}