$teal-120: #2e948a;
$teal-110: #3fa298;
$teal-100: #49a99f;
$teal-90: #4fb7ad;
$teal-80: #51bcb2;
$teal-70: #55c4bb;
$teal-40: #66cbc5;
$teal-30: #80dad4;
$teal-20: #93dbd7;
$teal-10: #bae8e6;
$teal-5: hsl(177, 50%, 92%);

$black-90: #333333;
$black-80: #3b3b3b;
$black-60: #616161;
$black-30: hsl(0, 0%, 70%);
$black-20: #cccccc;
$black-10: #e6e6e6;

$warning-amber: #f3e09b;
$warning-amber-40: hsl(47, 79%, 85%);
$warning-red-strong: #e93b3b;
$warning-red: #f39b9b;
$warning-red-40: hsl(0, 79%, 85%);