<%= form_for(@ingredient) do |i| %>
	<h3>Ingredient Edit</h3>
	<br />
	<br />
	<%= render 'form_partial', i: i, ingredient: @ingredient %>
	<div class="actions">
		<%= i.submit "Save" %>
	</div>
<% end %>
