<div class="main ingredient-index">
      <div class="container">
        <div class="row">

          <%= link_to 'New Ingredient', ingredients_new_path %>

          <br />
          <br />
          <br />
          <% @ingredients.sort_by {|ingredient| ingredient.recipes.length}.reverse.each do |ingredient| %>

            <div class="ingredient col-xs-2">
              <h3><%= link_to "#{ingredient.name}", ingredient_path(ingredient) %></h3>
              <%= link_to "Edit Ingredient", edit_ingredient_path(ingredient) %>
              <br />
              <br />
            </div>
            <br />
          <% end  %>

      </div>
</div>
