<% provide(:title, '500') %>
<iframe src="https://clara.io/player/v2/cccfabfd-1c44-4895-9611-93362dc27098" allowfullscreen></iframe>
<div class="error_page">
	<div class="error_page--content">
		<div class="error_text">
			<h1>500 - soup troubles</h1>
			<p>There seems to have been a minor <span>code soup</span> incident.<br />
			Sorry about that. If you could <span>find the soup</span> for us that'd be souper helpful ;)<br /><br />
			If you weren't excepting to have soup related drama today <br />
			you can <a href="mailto:team@getstockcubes.com">get in touch with us</a>, and let us know about the issue.</p>

			<p>You could always <%= link_to 'go home', root_path %> where it's less tomatoey</a></p>
		</div>
	</div>
</div>
