<% provide(:title, '404') %>
<div class="error_page">
	<div class="error_page--content">
		<h1>404 page</h1>

		<%= large_svg('ghost_in_the_cube', '0 0 1079 654') %>
		<div class="error_text">
			<p>The way is shut.<br />
			It was made by those who are <span>not found</span><br />
			...and the <span>finders</span> keep it</p>

			<p>You can always <%= link_to 'go home', root_path %> where it's safe!</a></p>
		</div>
	</div>
</div>
