
.browser {
	border-radius: em(3, 10);
	border: 2px solid $black-20;
	video,
	img {
		width: 100%;
	}
}

.browser--content-fixed_ratio_overlay {
	height: 0;
	padding-top: 50%;
	overflow: scroll;
	position: relative;
	img {
		width: 100%;
		position: absolute;
		top: 0;
	}
}

.browser--top_bar {
	background-color: $black-20;
	width: 100%;
	display: flex;
	padding: em(7, 10);
}

.browser--top_bar--button {
	border-radius: 50%;
	height: em(6, 10);
	width: em(6, 10);
	& + & {
		margin-left: em(5, 10);
	}
	&:nth-child(1) {
		background-color: red;
	}
	&:nth-child(2) {
		background-color: #ffe200;
	}
	&:nth-child(3) {
		background-color: #00bd00;
	}
}
