.content_rich--wrapper {
	display: flex;
	justify-content: center;
	padding: em(20, 10);
}

.content_rich {
	max-width: em(800, 10);
	width: 100%;
}

.content_rich--title_block {
	border-bottom: 1px solid $teal-40;
	padding-bottom: em(15, 10);
	margin-bottom: em(30, 10);
	>* + * {
		margin-top: em(15, 15);
	}
	.heart_stat_unfavourite {
		color: $teal-40;
	}
	.heart_stat_favourite {
		color: white;
	}
	a[class*="heart_stat_"] {
		text-decoration: none;
		svg {
			stroke: $teal-70;
			width: em(15, 15);
			height: em(15, 15);
			margin-right: em(3, 15);
			margin-bottom: em(-2, 15);
		}
		&:hover {
			color: $teal-70;
		}
	}
	.content_rich--title_text {
		color: black;
	}
}

.content_rich--title--action {
	margin-top: em(10, 10);
}

.content_rich--title_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	svg.icon-edit {
		width: em(15, 15);
		height: em(15, 15);
		color: $black-60;
		margin-left: em(6, 15);
	}
}

form.content_rich--wrapper {
	.content_rich--title_row {
		align-items: flex-end;
		h1 {
			flex-grow: 1;
			input {
				width: 100%;
			}
		}
	}
	.content_rich--title--action{
		margin-left: em(15, 15);
	}
	.input_half_width {
		width: 50%;
		margin-right: 0;
	}
	.field_with_errors.error_with_label {
		width: 50%;
		.input_half_width {
			width: 100%;
		}
	}
	&.portion_form .content_rich--row {
		display: flex;
		flex-wrap: wrap;
	}
}


.content_rich--row {
	& + & {
		margin-top: em(24, 10);
	}
	li.in_stock {
		list-style: none;
		position: relative;
		&:before {
			content: "\2022";
			position: absolute;
			left: em(-18, 15);
			top: 0;
			color: $teal-40;
		}
		&:after {
			content: "\ \ [in stock]";
			color: $teal-100;
		}
	}

	&.stock_check {
		li:not(.in_stock){
			list-style: none;
			position: relative;
			&:before {
				content: "\2022";
				position: absolute;
				left: em(-18, 15);
				top: 0;
				color: $warning-red;
			}
		}
	}

	textarea {
		width: 100%;
		max-width: 100%;
	}
	[type="text"] {
		font-size: em(20, 10);
    min-height: em(36, 20);
    width: em(140, 20);
    padding-left: em(8, 20);
    margin-right: em(7, 20);
    margin-bottom: em(7, 20);
	}
	h2 {
		margin-bottom: em(13, 18);
	}
	h3 {
		margin-bottom: em(13, 17);
	}
}

.content_rich--wrapper .recipe_description {
	p {
		line-height: em(19, 15);
	}
	* + * {
		margin-top: em(15, 15);
	}
}

.content_rich--wrapper .portion_list {
	* + * {
		margin-top: em(15, 15);
	}
	ul {
		padding-left: em(20, 15);
		font-size: em(15, 10);
		list-style: circle;
	}
}
.content_rich--wrapper .recipe_info_tags {
	display: flex;
	flex-wrap: wrap;
}
.content_rich--wrapper .recipe_info_tags--item {
	font-size: em(12, 10);
	margin-right: em(7, 12);
	margin-top: em(3, 12);
	margin-bottom: em(3, 12);
	border: 1px solid $teal-20;
	border-radius: em(1, 12);
	padding: em(5, 12);
}


.portion_list--edit {
	li {
		border: 1px solid $teal-30;
		padding: em(12, 15);
		position: relative;
		padding-right: em(40, 15);
		& + li {
			margin-top: em(20, 15);
		}
	}
	[name="recipe[portion][id][]"]{
		display: none;
		& + label {
			position: absolute;
			top: 0;
			right: 0;
			text-indent: 150%;
			overflow: hidden;
			white-space: nowrap;
			height: em(60, 15);
			width: em(60, 15);
			&::after {
				content: "\00d7";
				position: absolute;
				font-size: em(33, 15);
				top: em(10, 33);
				right: em(10, 33);
				height: em(40, 33);
				width: em(40, 33);
				background-color: $warning-red;
				text-indent: 0;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		&:checked + label {
			width: 100%;
			height: 100%;
			background-color: rgba($warning-red, .3);
			&::after {
				content: "+";
			}
		}
	}
}

