
.feature-banner--title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: em(40, 10);
	width: 100%;
	background-color: $teal-2;
	padding: em(50, 10) em(20, 10) em(40, 10);
	.feature-banner--title-content {
    display: block;
    font-size: em(21, 10);
    margin-bottom: em(-8, 21);
	}
	.feature-banner--title-tagline {
		font-size: em(21, 21);
    display: block;
    margin-bottom: em(-8, 21);
	}
	h1 {
		font-size: em(30, 21);
		display: flex;
		align-items: center;
		span {
			margin-top: em(-15, 30);
			margin-right: em(-34, 30);
		}
	}
	.icon-logo {
		width: em(158, 30);
	}
	p {
		font-size: em(16, 10);
		line-height: em(20, 16);
	}
	.def-typ {
		font-style: italic;
		font-size: em(12, 10);
		margin-top: em(10, 12);
		margin-bottom: em(5, 12);
	}
	ol {
		list-style: decimal;
		font-size: em(16, 10);
		padding-left: em(16, 16);
		p {
			font-size: em(16, 16);
		}
		li {
			margin-bottom: em(5, 16);
		}
	}
}


.feature-banner--title-content {
	max-width: em(600, 10);
}

.feature-banner--collection {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 em(20, 10);
}

.feature-banner {
	max-width: em(600, 10);
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: em(30, 10) 0;
	align-items: center;
	justify-content: center;
	p {
		&.feature_text--minor {
			font-size: em(16, 10);
			line-height: em(23, 16);
			margin-bottom: em(25, 16);
		}
		&:not(.feature_text--minor) {
			font-size: em(24, 10);
		}
	}
}

.feature-banner--img {
	flex: 1 0 35%;
	display: flex;
	justify-content: center;
}

.feature-banner--content {
	flex: 1 0 43%;
	min-width: 25em;
	margin-bottom: em(10, 10);
	@media (min-width: 750px) {
		padding-left: em(30, 10);
		padding-right: em(30, 10);
	}
	@media (max-width: 800px) {
		text-align: center;
		margin-top: em(25, 10);
	}
	p:first-child ~ p {
		margin-top: em(5, 18);
		font-size: em(18, 10);
		color: $black-80;
	}
}

.feature-banner--sibling {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: em(40, 10) em(20, 10);
	background-color: $teal-2;
	h2 {
		@media (min-width: 700px) {
			font-size: em(23, 10);
		}
		margin-bottom: em(20, 23);
	}
	p {
		font-size: em(16, 10);
		line-height: em(22, 18);
		+ p {
			margin-top: em(10, 18);
		}
		&:last-of-type {
			margin-bottom: em(30, 18);
		}
	}
	ul {
		list-style-type: disc;
    font-size: em(16, 10);
    line-height: em(25, 16);
    text-align: left;
    margin-bottom: em(22, 16);
	}
}
