.features {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: em(30, 10) 0;
	margin-bottom: em(40, 10);
}

.feature_row {
	max-width: em(1500, 10);
	& + & {
		margin-top: em(70, 10);
	}
	width: 90%;
	h2 {
		position: relative;
		padding: em(5, 18) 0 em(10, 18) 0;
		margin-bottom: em(10, 18);
		@media (min-width: 700px) {
			font-size: em(23, 10);
			padding: em(7, 23) 0 em(12, 23) 0;
			margin-bottom: em(12, 23);
		}
		&::before {
			content: " ";
			position: absolute;
			height: 100%;
			width: em(100, 23);
			max-width: 100%;
			border: 2px solid $teal-20;
			border-width: 0 0 2px 2px;
			top: 0;
			left: em(-10, 18);
			@media (min-width: 700px) {
				left: em(-11, 23);
				border-width: 0 0 3px 3px;
			}
		}
	}
	p {
		@media (min-width: 1200px) {
			font-size: em(16, 10);
		}
	}
	p + p {
		margin-top: em(8, 15);
	}
	@media (min-width: 700px) {
		width: 75%;
	}
	@media (max-width: 1199px) {
		.browser {
			margin-top: em(20, 10);
		}
	}
	@media (min-width: 1200px) {
		display: flex;
		.browser {
			width: 60%;
		}
		.feature_row--content {
			width: 40%;
			padding-right: em(15, 10);
		}
	}
}