.feature-banner--collection {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 em(20, 10);
}

.feature-banner--title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: em(40, 10);
	margin-top: em(30, 10);
	h1 {
		font-size: 3em;
		margin-bottom: .4em;
	}
	p {
		font-size: 1.7em;
	}
}

.feature-banner {
	max-width: em(600, 10);
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: em(30, 10) 0;
	align-items: center;
	justify-content: center;
	p {
		font-size: em(24, 10);
	}
}

.feature-banner--img {
	flex: 1 0 35%;
	display: flex;
	justify-content: center;
}

.feature-banner--content {
	flex: 1 0 43%;
	min-width: 25em;
	margin-bottom: em(10, 10);
	@media (min-width: 750px) {
		padding-left: em(30, 10);
		padding-right: em(30, 10);
	}
	@media (max-width: 800px) {
		text-align: center;
		margin-top: em(25, 10);
	}
	p:first-child ~ p {
		margin-top: em(5, 18);
		font-size: em(18, 10);
		color: $black-80;
	}
}
