$bp-mobile: 600px;

.pretty_form {
	display: flex;
	justify-content: center;
	padding: em(20, 10);
	flex-wrap: wrap;
}
.pretty_form--sibling {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: em(40, 15);
	p {
		margin-top: em(6, 15);
	}
}

.pretty_form form,
.pretty_form .fake_form {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	max-width: em(1000, 10);
	justify-content: center;
	* {
		width: 50%;
		margin-bottom: em(10, 15);
		@media (max-width: $bp-mobile) {
			width: 100%;
			text-align: left;
		}
	}
	label,
	.info {
		@media (min-width: $bp-mobile) {
			text-align: right;
		}
		padding-right: em(10, 15);
	}
	input {
		@media (max-width: $bp-mobile) {
			font-size: em(16, 10);
		}
		padding: em(10, 15);
	}
	input[type="checkbox"] {
		margin: em(20, 13) 0;
		@media (max-width: $bp-mobile) {
			margin: em(10, 16) 0;
		}
	}
	@media (max-width: $bp-mobile) {
		input[type="checkbox"],
		label.checkbox {
			width: auto;
		}
		label.checkbox {
			margin-top: em(20, 15);
		}
	}
	input[type="submit"] {
		width: auto;
		font-size: em(20, 10);
		padding: em(10, 15);
		margin-top: em(15, 15);
		@media (max-width: $bp-mobile) {
			margin: em(10, 15) 25%;
		}
	}
}