.list_block--collection {
	display: flex;
	padding: em(10, 10);
	flex-wrap: wrap;
}

.list-block--collection--wrap {
	margin-bottom: em(20, 10);
	padding-bottom: em(20, 10);
	.list-block--collection--sibling {
		padding-left: em(17, 10);
		padding-right: em(17, 10);
	}
	& ~ & {
		border-top: 1px solid black;
		padding-top: em(20, 10);
	}
}

.list-block--collection--sibling {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
}

.list_block--collection__tight {
	.list_block {
		flex-basis: calc(25% - 14px);
		@media (max-width: 1200px) {
			flex-basis: calc(33.3% - 14px);
		}
		@media (max-width: 700px) {
			flex-basis: calc(50% - 14px);
		}
		@media (max-width: 500px) {
			flex-basis: calc(100% - 14px);
		}
	}
}

.list_block {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	border: 1px solid $teal-80;
	margin: em(7, 10);
	flex: 0 0 calc(50% - 20px);
	min-height: em(60, 10);
	order: 1;
	@media (min-width: 1201px) {
		flex-basis: calc(25% - 14px);
	}
	@media (max-width: 700px) {
		flex-basis: calc(100% - 14px);
	}
	&.empty, &.all-out-of-date {
		order: 2;
	}
	&:not(.list_block__column), .list_block--content  {
		padding: em(12, 10) em(8, 10) em(16, 10);
	}
}
a.list_block {
	margin: em(7, 15);
	&:not(.list_block__column) {
		padding: em(12, 15) em(8, 15) em(16, 15);
	}
	background-color: $teal-10;
	order: 3;
	text-decoration: none;
	color: black;
	&:hover {
		background-color: $teal-20;
	}
}

.list_block__column {
	align-content: space-between;
	> * {
		flex-basis: 100%;
	}
}

.list_block--tag_bar {
	background-color: $teal-10;
	margin-top: em(10, 10);
}

.list_block--title {
	flex-basis: calc(100% - 6px);
	flex-shrink: 0;
	.list_block__grid & {
		margin: 0 em(3, 17) em(10, 17);
	}
	display: flex;
	justify-content: space-between;
}

.list-block--actions {
	display: flex;
	justify-content: flex-end;
	a {
		width: em(40, 15);
		height: em(40, 15);
		margin-left: em(5, 15);
		background-color: $teal-10;
		border-radius: em(2, 15);
		color: $teal-100;
		padding: em(7, 15);
		&.unfavourite {
			color: white;
		}
	}
}

.list_block--item {
	margin: em(3, 15);
	background-color: $teal-40;
	border-radius: em(3, 15);
	padding: em(7, 15);
	flex-basis: calc(50% - 6px);
	* {
		font-size: inherit;
	}
	@media (min-width: 1900px), (max-width: 1200px) and (min-width: 900px), (max-width: 700px) and (min-width: 450px)  {
		flex-basis: calc(33.3% - 6px);
	}
	&.date-part-warning {
		background-color: $warning-amber;
	}
	&.date-full-warning {
		background-color: $warning-red;
	}
}

a.list_block--item {
	text-decoration: none;
	color: black;
	&:hover {
		background-color: $teal-20;
		&.date-part-warning {
			background-color: $warning-amber-40;
		}
		&.date-full-warning {
			background-color: $warning-red-40;
		}

	}
}

.list_block--item-new {
	background-color: white;
	min-height: em(40, 15);
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
	border: 1px solid $teal-110;
	&.list_block--item:hover {
		background-color: $teal-5;
	}
}