.list_block--collection {
	display: flex;
	padding: em(10, 10);
	flex-wrap: wrap;
}

.list_block--collection--wrap {
	margin-bottom: em(20, 10);
	padding-top: em(20, 10);
	padding-bottom: em(20, 10);
	.list_block--collection--sibling {
		padding-left: em(17, 10);
		padding-right: em(17, 10);
	}
	& ~ & {
		border-top: 1px solid black;
		padding-top: em(20, 10);
	}
}

.list_block--collection--sibling {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
	h2 {
		margin-right: em(20, 18);
	}
	div {
		display: flex;
		align-items: center;
		margin-top: em(20, 10);
		margin-left: auto;
	}
	& + & {
		margin-top: em(20, 10);
	}
}

.list_block--collection--sibling_stack {
	flex-direction: column;
}

.list_block--collection--sibling--key_list {
	font-size: em(13, 10);
	margin-top: em(16, 13);
	max-width: em(600, 13);
	li {
		margin-bottom: em(8, 13);
		line-height: em(16, 13);
		&:before {
			content: " ";
			margin-right: em(6, 13);
			width: em(10, 13);
			height: em(10, 13);
			display: inline-block;
		}
	}
}

.list_block--sibling--key--positive:before {
	background-color: $teal-40;
}
.list_block--sibling--key--part_warning:before {
	background-color: $warning-amber;
}
.list_block--sibling--key--full_warning:before {
	background-color: $warning-red;
}


.list_block--collection__tight {
	.list_block {
		flex-basis: calc(25% - 14px);
		@media (max-width: 1200px) {
			flex-basis: calc(33.3% - 14px);
		}
		@media (max-width: 700px) {
			flex-basis: calc(50% - 14px);
		}
		@media (max-width: 500px) {
			flex-basis: calc(100% - 14px);
		}
	}
}

.list_block {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	border: 1px solid $teal-80;
	margin: em(7, 10);
	flex: 0 0 calc(50% - 20px);
	min-height: em(60, 10);
	order: 1;
	position: relative;
	@media (min-width: 1201px) {
		flex-basis: calc(25% - 14px);
	}
	@media (max-width: 700px) {
		flex-basis: calc(100% - 14px);
	}
	&.empty .list_block--action:not(.delete_cupboard_button) {
		display: none;
	}
	&.all-out-of-date {
		order: 2;
	}
	&.empty {
		order: 3;
	}
	&:not(.list_block__column), .list_block--content  {
		padding: em(12, 10) em(8, 10) em(30, 10);
	}
	&[hidden] {
		display: none;
	}
	&.edit_mode {
		border-style: dashed;
	}
}
a.list_block {
	margin: em(7, 15);
	&:not(.list_block__column) {
		padding: em(12, 15) em(8, 15) em(16, 15);
	}
	background-color: $teal-10;
	order: 3;
	text-decoration: none;
	color: black;
	&:hover {
		background-color: $teal-20;
	}
}

.edit_mode--message {
	font-family: monospace;
	color: $teal-80;
	font-size: em(13, 8.125);
	font-size: 13px;
	position: absolute;
	bottom: em(11, 13);
	left: em(12, 13);
}

.list_block.edit_mode .list_block--item_show,
.list_block.edit_mode .list_block--item-new,
.list_block.edit_mode .edit_cupboard_button,
.list_block:not(.edit_mode) .list_block--item_edit,
.list_block:not(.edit_mode) .close_without_edit_cupboard_button,
.finish_editing_cupboard_button,
.list_block:not(.edit_mode) .edit_mode--message,
.list_block:not(.empty) .delete_cupboard_button {
	display: none;
}

.list_block.edit_mode.delete_mode .finish_editing_cupboard_button {
	display: block;
}

.list_block input[type="checkbox"] {
	position: absolute;
	left: -100000vw;
	visibility: hidden;
}

.list_block__column {
	align-content: space-between;
	> * {
		flex-basis: 100%;
	}
}

.list_block__full {
	flex-basis: calc(100% - 14px);
}

.list_block--tag_bar {
	background-color: $teal-10;
	margin-top: em(10, 10);
}

.list_block--title {
	flex-basis: calc(100% - 6px);
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.list_block__grid & {
		margin: 0 em(3, 17) em(10, 17);
	}
	h3 {
		flex-grow: 1;
	}
	input[type="text"] {
		font-size: em(17, 17);
		border: 1px solid transparent;
		padding: em(3, 17);
		width: 100%;
		&:focus {
			border-color: $black-30;
			outline: none;
		}
	}
	.list_block--action {
		width: em(35, 15);
		height: em(35, 15);
		padding: em(5, 15);
		color: $black-30;
		cursor: pointer;
		&:not(:first-child) {
			margin-left: em(10, 15);
		}
		&:first-child {
			margin-right: em(7, 15);
		}
		font-size: em(17, 17);
		&:hover {
			color: $black-80;
		}
	}
}

.list_block--action_row {
	display: flex;
	justify-content: flex-end;
	a {
		width: em(40, 15);
		height: em(40, 15);
		margin-left: em(5, 15);
		background-color: $teal-10;
		border-radius: em(2, 15);
		color: $teal-100;
		padding: em(7, 15);
		&.unfavourite {
			color: white;
		}
	}
}

.list_block--item,
.list_block--item_placeholder {
	margin: em(3, 15);
	background-color: $teal-40;
	border-radius: em(3, 15);
	padding: em(7, 15);
	flex-basis: calc(50% - 6px);
	position: relative;
	border: 1px solid $teal-40;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	* {
		font-size: inherit;
	}
	@media (min-width: 1900px), (max-width: 1200px) and (min-width: 900px), (max-width: 700px) and (min-width: 450px)  {
		flex-basis: calc(33.3% - 6px);
	}
	&.date-part-warning {
		background-color: $warning-amber;
		border-color: $warning-amber;
		order: 1;
	}
	&.date-full-warning {
		background-color: $warning-red;
		border-color: $warning-red;
		order: 2;
	}
	&.list_block--item_stacked {
		flex-wrap: wrap;
		* {
			flex-basis: 100%;
		}
		h4 {
			flex-basis: calc(100% - 10px);
		}
		.icon {
			flex-basis: 10px;
		}
	}
	.icon {
		width: em(10, 15);
		height: em(10, 15);
		color: $teal-10;
	}
	.list_block__full & {
		flex-basis: calc(14.28571% - 6px);
		font-size: em(15, 10);
		@media (max-width: 900px) and (min-width: 601px) {
			flex-basis: calc(20% - 6px);
		}
		@media (max-width: 600px) and (min-width: 451px) {
			flex-basis: calc(33.333% - 6px);
		}
		@media (max-width: 450px) {
			flex-basis: calc(50% - 6px);
		}
	}
}

.list_block--item_placeholder {
	background-color: $teal-10;
}

a.list_block--item {
	text-decoration: none;
	color: black;
	&:hover {
		background-color: $teal-20;
		&.date-part-warning {
			background-color: $warning-amber-40;
		}
		&.date-full-warning {
			background-color: $warning-red-40;
		}

	}
}

.list_block--item_edit--checkbox:checked + .list_block--item_edit {
	border-width: 5px;
	opacity: .7;
}

.list_block--item_edit {
	background-color: white;
	padding-right: em(30, 15);
	transition: border .3s;
	border-color: $teal-40;
	&.date-part-warning {
		background-color: $warning-amber-40;
	}
	&.date-full-warning {
		background-color: $warning-red-40;
	}
	&:hover {
		cursor: pointer;
	}
}

.list_block--item_edit_marker {
	position: absolute;
	top: em(7, 15);
	right: em(7, 15);
	width: em(20, 15);
	height: em(20, 15);
	opacity: .7;
	color: $teal-110;
}

.finish_editing_cupboard_button {
	cursor: pointer;
}

.list_block--item-new {
	background-color: white;
	min-height: em(40, 15);
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
	border: 1px solid $teal-110;
	&.list_block--item:hover {
		background-color: $teal-5;
	}
}