.switch--wrap {
	display: flex;
	align-items: center;
	font-size: 1em;
	color: black;
	text-decoration: none;
	p {
		position: relative;
		&:before {
			content: " ";
			position: absolute;
			background-color: $teal-70;
			height: em(2, 15);
			width: 100%;
			bottom: em(-2, 15);
		}
	}
	&:hover {
		.switch.status_on:before {
			left: em(6, 10);
		}
		.switch.status_off:before {
			left: em(14, 10);
		}
		p:before {
			background-color: $teal-20;
		}
	}
}

.switch {
	position: relative;
	width: em(40, 10);
	margin-left: em(8, 10);
	background-color: $teal-110;
	height: em(24, 10);
	border-radius: em(15, 10);
	border: 1px solid $teal-110;
	overflow: hidden;
	text-indent: em(1000, 10);
	margin: 0 em(10, 10);
	&:before {
		content: " ";
		position: absolute;
		width: em(18, 10);
		height: em(18, 10);
		border-radius: 50%;
		transition: left .2s;
		background-color: white;
		border: 1px solid $teal-110;
		left: em(2, 10);
		top: em(2, 10);
	}
	&.status_off {
		background-color: white;
		border-color: $teal-70;
		&:before {
			background-color: $teal-110;
			border-color: $teal-110;
			left: em(18, 10);
		}
	}
}