<p><%= key %> [<%= values["portion_amount"] %> <%= values["unit_name"] %>]</p>
<% if values["in_cupboard"] == true %>
  <span class="list_block--item--ingredient_note">
    <% if values["plenty_in_cupboard"] == true %>
      <span>Loads in cupboards</span>
    <% else %>
      <span><%= values["percent_in_cupboard"] %>% in cupboards</span>
    <% end %>
  </span>
<% end %>