<% provide(:title, 'Your Shopping Lists') %>
<div class="main">
  <div class="container">
		<div class="list-block--collection--wrap">
		  <div class="list-block--collection--sibling">
				<h2>Current Shopping List</h2>
			</div>
			<div class="list_block--collection">
				<%= render 'shopping_listing_partial', shopping_list: @shopping_lists.first %>
			</div>
		</div>
		<% if @shopping_lists.length > 1 %>
			<div class="list-block--collection--wrap">
				<div class="list-block--collection--sibling">
					<h2>Older Shopping Lists</h2>
				</div>
				<%= will_paginate(@shopping_lists) %>
				<div class="list_block--collection">
					<% @shopping_lists.each_with_index do |shopping_list, index| %>
						<% unless index == 0 %>
							<%= render 'shopping_listing_partial', shopping_list: shopping_list %>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
		<%# <%= link_to "Make new Shopping List", shopping_lists_new_path %> %>
  </div>
</div>