<%= form_for(@shopping_lists) do |shopping_list| %>  


	<% for recipe in Recipe.all %>
	<div>
		<%= check_box_tag "shopping_list[recipes][id][]", recipe.id %>
		<%= label_tag "shopping_list[recipes][id][]", recipe.title %>
	</div>
	<% end %>
	<hr>
	<br>
	<br>
	<br>


	<div class="actions"> 
		<%= shopping_list.submit "Create" %> 
	</div> 
<% end %>

