<div class="main shopping_list-show">
  <div class="container">
    <div class="shopping_list">
      
      <!-- Display the shopping_list's info here -->
      <div class="info">
				<h3>Shopping List - #<%= shoppingListIndex(@shopping_list) %> (<%= @shopping_list.created_at.to_date.to_s(:long) %>)</h3>
      </div>
    </div>

    

    <% if @recipes.first %>

			<% @recipes.ingredients.each do |ingredient| %>
			<p><%= ingredient.name  %></p>
			<% end  %>


    <% else %>
      <p>Shopping List currently empty.</p>
    <% end %>
<br>
<br>
<br>
    <%= link_to "Edit", edit_shopping_list_path(@shopping_list) %>

  </div>
</div>
