<p>Hi there,</p>

<p><%= @requester.name  %> wants to share a cupboard with you on <%= link_to "Stockcubes", root_url, target: "_blank" %>.</p>

<p>Click the link below to go to Stockcubes to create your account, and then you can accept the shared cupboard invite.</p>

<%= link_to "Create your Stockcubes account", new_user_registration_url %>

<p>If you don't recognise the person sending the request, please let us know by sending us an email with the details (<a href="mailto:support@getstockcubes.com">support@getstockcubes.com</a>). Alternatively, just ignore this email and nothing further will happen.</p>

<p>Thanks,</p>
<p><%= link_to "Stockcubes Team", "mailto:team@getstockcubes.com" %></p>
