:root {
	font-size: 62.5%;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
  width: 100%;
  min-width: 20em;
}

[hidden] {
	display: none !important;
}

#inner-wrap {
	display: flex;
	flex-direction: column;
	main {
		margin-bottom: 2rem;
		position: relative;
		.static_pages_controller.home_page & {
			margin-bottom: 0;
		}
	}
	footer {
		position: relative;
		z-index: 2;
	}
}

.large-svg {
	width: 100%;
}
