// @import '~choices.js/public/assets/styles/choices.min.css';

.choices_select {
	min-width: rem(189);
	@media all and (min-width: $bp-sm) {
		width: 100%;
		input[class*="half_width_input"] ~ &,
		.choices_select--sibling ~ & {
			width: calc(50% - 4px);
			margin-left: 4px;
		}
	}
	@media all and (max-width: $bp-sm) {
		input[class*="half_width_input"] ~ & {
			width: 100%;
		}
	}
	.choices__inner {
		min-height: 36px;
	}
	.choices__list--single {
		padding: 2px 16px 2px 4px;
	}
	&.choices_slim {
		min-width: rem(150);
	}
}

.choices_select--sibling {
	min-width: rem(250);
	margin-bottom: rem(10);
	margin-right: rem(12);
	margin-top: rem(10);
}

.choices .choices__input {
	font-size: inherit;
}

.choices__item.choices__item--choice.choices__item--disabled {
	display: none;
}

