header {
	display: flex;
	justify-content: space-between;
	nav>ul {
		display: flex;
	}
}


.site_notice {
	background-color: $warning-amber-40;
	padding: em(12, 9);
	font-family: monospace;
	text-align: center;
}

.beta-tag {
	font-size: rem(9);
	padding: rem(2) rem(3);
	background-color: $teal-10;
	margin-left: rem(6);
	border-radius: rem(2);
	margin-bottom: rem(-3);
}
