.pagination {
	padding: em(12, 10) em(17, 10);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	@media (max-width: 600px) {
		justify-content: flex-start;
	}
	>*[class*="_page"] {
		@media (max-width: 600px) {
			&.disabled {
				display: none;
			}
		}
	}
	.previous_page {
		margin-right: auto;
	}
	.next_page {
		margin-left: auto;
	}
	>* {
		font-size: em(18, 10);
		border-radius: em(3, 18);
		padding: em(5, 18) em(7, 18);
		background-color: $teal-10;
		margin: em(4, 18);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		&[href] {
			color: black;
			text-decoration: none;
		}
		&.current {
			background-color: $teal-110;
			color: white;
			cursor: default;
		}
		&.disabled {
			color: white;
			cursor: not-allowed;
		}
	}
	a:hover {
		background-color: $teal-20;
	}
}
