.tiny-slider--title {
	padding-left: em(22, 18);
	margin-bottom: em(14, 18);
}

.tiny-wrapper {
	display: flex;
	align-items: stretch;
}

.tiny-slide {
	min-height: em(250, 10);
	.list_block--item--action--btn {
		padding: em(6, 15);
	}
}

.tiny-contents {
	border: 1px solid gray;
	padding: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tiny-drop {
	flex-grow: 2;
}

.extra-tiny-wrapper {
	position: relative;
}

.tiny-control {
	position: absolute;
	height: em(40, 11);
	width: em(40, 11);
	top: 50%;
	margin-top: em(-20, 11);
	z-index: 3;
	border: none;
	background-color: $teal-80;
	color: white;
	&:disabled {
		background-color: $teal-30;
	}
	&:not(:disabled):hover, &:not(:disabled):focus {
		background-color: $teal-110;
	}
}

.tiny-control--prev {
	left: em(16, 11);
}
.tiny-control--next {
	right: em(16, 11);
}