<script>
	function setCookieBannerCookie() {
		document.cookie = "cookie-policy=1";
		document.querySelector('[data-name="cookie-banner"]').classList.add('hidden')
	}
</script>

<div data-name="cookie-banner" class="bg-black-a-800 text-white fixed bottom-0 w-full left-0 text-center z-50 p-8 leading-relaxed text-lg">
	<div class="standard-wrapper">Stockcubes uses cookies to improve your experience on our site. You can read our
		<a class="underline text-white text-lg" href="/cookie-policy">cookies policy here</a>.<br class="hidden md:inline-block"/>
		By continuing to use the site, you consent to use our cookies.
		<button class="text-black font-sans py-1 px-2 cursor-pointer mx-auto block mt-3 text-lg border-none rounded bg-primary-200" onClick="setCookieBannerCookie()">Ok, understood</button></div>
</div>
