<footer>
	<ul>
		<li>
			<%= link_to 'Roadmap', 'https://trello.com/b/kjsnskn', target: "_blank" %>
		</li>
		<li>
			<%= link_to 'Twitter', 'https://twitter.com/stock_cubes', target: "_blank" %>
		</li>
		<li>
			<%= link_to 'Feedback', 'mailto:feedback@stockcub.es' %>
		</li>
	</ul>
</footer>