<footer>
	<ul>
		<li>
			<%= link_to 'Our Roadmap', 'https://trello.com/b/5mJZ882b/stockcubes-roadmap-work-in-progress', target: "_blank" %>
		</li>
		<li>
			<%= link_to 'Twitter Profile', 'https://twitter.com/stock_cubes', target: "_blank" %>
		</li>
		<li>
			<%= link_to 'Send us Feedback', 'mailto:team@getstockcubes.com?subject=Feedback', target: "_blank" %>
		</li>
	</ul>
</footer>