		<% if shopping_list_portions.length == 0 %>
			<button id="view-whisk-list" class="list_block--collection--action">Open online shopping list</button>
		<% else %>
			<button id="whisk-add-products" class="list_block--collection--action">Add to online shopping list</button>
		<% end %>